html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "PT Serif", serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #DEAC74;
  margin: 0;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  background-color: #DAA12E;
  padding: 0 2rem;
}

nav ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin-left: auto;
}

nav ul li {
  padding: 1rem;
  font-size: 1.5rem;
}

nav a {
  padding: 10px 20px;
  color: #452C1C;
  text-decoration: none;
  transition: all 0.6s;
}

nav a:hover {
  background-color: #A44503;
  color: #E0E6E2;
  border: none;
  border-radius: 6px;
}

.current {
    background-color: #A44503;
    color: #E0E6E2;
    border: none;
    border-radius: 6px;
}
